html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	list-style: none;
	box-sizing: border-box;
}

:root {
	// default font sizes polled from https://websemantics.uk/tools/responsive-font-calculator/
	// responsive font sizes for screens between 768px-1920px
	// min value of the clamp function will where work screen width is under or equal to 768px
	// max  value of the clamp function will where work screen width is above or equal to 1920px
	--huge: clamp(8rem, calc(8rem + ((1vw - 0.48rem) * 5.5556)), 12rem);
	--h1: clamp(2.8rem, calc(2.8rem + ((1vw - 0.48rem) * 1.3889)), 3.8rem);
	--h2: clamp(2rem, calc(2rem + ((1vw - 0.48rem) * 1.3889)), 3rem);
	--h3: clamp(1.5rem, calc(1.5rem + ((1vw - 0.48rem) * 0.5208)), 1.875rem);
	--h4: clamp(1.125rem, calc(1.125rem + ((1vw - 0.48rem) * 0.3472)), 1.375rem);
	--body: clamp(1rem, calc(1rem + ((1vw - 0.48rem) * 0.1736)), 1.125rem);
	--small: clamp(0.875rem, calc(0.875rem + ((1vw - 0.48rem) * 0.1736)), 1rem);

	//this is the corresponding line heights for each header
	--lh1: 1.3;
	--lh2: 1.4;
	--lh3: 1.5;
	--lh4: 1.6;
	--lhbody: 1.65;

	//default colors polled from https://clrs.cc/
	--BLUE: #0074d9;
	--RED: #ff4136;
	--ORANGE: #ff851b;
	--YELLOW: #ffdc00;
	--GREEN: #2ecc40;
	--BLACK: #111111;
	--GRAY: #aaaaaa;
	--SILVER: #dddddd;
	--WHITe: #ffffff;
}
